<div id="speakers" class="dn">
  <div>
      <h3 class="black f2 fw6 tc code" data-lang="Speaker">Speakers</h3>
      <p class="black tc">
        <span data-lang="La lista completa verrà completata ad inizio settembre.">
          Speaking opportunities will be finalized by early September.
        </span>
        <br/>
        <span data-lang="Vorresti parlare a JeffConf Milano? ">
          Would you like to join the crew?
        </span>
        <a id="jeffconf-cfp" href="https://serverless-italy.typeform.com/to/pny1ki" title="CFP" target="_blank" data-lang="Proponi la tua idea qui">CFP is here</a>!
      </p>
      <p class="black tc" data-lang="Nota: almeno il 60% delle presentazioni sarà in italiano.">
        Note: at least 60% of the talks will be given in Italian.
      </p>
      <div class="dt mw7 mw8-ns mt4 ph3 ph0-ns center w-100">

        <div id="danilop" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/danilo-poccia.jpg" alt="Photo of Danilo" title="Danilo Poccia" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Danilo Poccia
              </p>
              <p class="f6 gray mt0">
              Amazon Web Services
              </p>
              <p class="f6">
              Danilo works with startups and companies of any size to support their innovation. In his role as Technical Evangelist at Amazon Web Services, he leverages his experience to help people bringing their ideas to life, focusing on event-driven programming and serverless architectures, and on the technical and business impact of machine learning and edge computing.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Danilo on Twitter" href="https://twitter.com/danilop" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Danilo on Medium" href="https://medium.com/@danilop" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>
          </div>
        </div>

        <div id="paulj" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Paul Johnston
              </p>
              <p class="f6 gray mt0">
              Movivo
              </p>
              <p class="f6">
              Paul is the CTO of Movivo where he has built his entire product on serverless technologies, whilst actively blogging and regularly speaking about the experience.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Paul on Twitter" href="https://twitter.com/PaulDJohnston" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Paul on Medium" href="https://medium.com/@PaulDJohnston" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/paul-johnston.jpg" class="ba br2 b--transparent grow" alt="Photo of Paul" title="Paul Johnston" />
            </div>

          </div>
        </div>

        <div id="alessandrov" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alessandro-vitale.jpg" alt="Photo of Alessandro" title="Alessandro Vitale" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alessandro Vitale
              </p>
              <p class="f6 gray mt0">
              Conversate
              </p>
              <p class="f6">
              Alessandro Vitale is an AI expert and a serial entrepreneur.
              In 2016 he founded Conversate in London, the first enterprise platform for intelligent chatbots.
              Previously he founded Optimist AI and, before being an entrepreneur, Alessandro worked for years in Siemens with growing responsibilities in Italy and Europe in the strategy department.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Alessandro on Twitter" href="https://twitter.com/alevitale" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Alessandro on Medium" href="https://medium.com/@alevitale" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>
          </div>
        </div>

        <div id="lucam" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Luca Mezzalira
              </p>
              <p class="f6 gray mt0">
              DAZN
              </p>
              <p class="f6">
              Luca is a Systems Architect with 14 years of experience, a Google Developer Expert on Web Technologies and the London Javascript community Manager.
              He had the chance to work on cutting-edge projects for mobile, desktop, web, TVs, set top boxes and embedded devices.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Luca on Twitter" href="https://twitter.com/lucamezzalira" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Luca on Medium" href="https://medium.com/@lucamezzalira" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>

                <a class="no-underline orange f6 fw1 ph1 v-top" href="http://www.londonjs.uk" target="_blank">http://www.londonjs.uk</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/luca-mezzalira.jpg" class="ba br2 b--transparent grow" alt="Photo of Luca" title="Luca Mezzalira" />
            </div>

          </div>
        </div>

        <div id="soenker" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/soenke-ruempler.jpg" alt="Photo of Soenke" title="Soenke Ruempler" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Soenke Ruempler
              </p>
              <p class="f6 gray mt0">
              Serverless Hamburg
              </p>
              <p class="f6">
              Soenke is an active member of the serverless community. He founded the Serverless Meetup Hamburg in 2016. When not spending time with his family or his sailboat, he works as a freelance consultant with a focus on DevOps and Cloud transitions, as well as serverless architectures.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="no-underline orange f6 fw1 ph1 v-top" href="https://ruempler.eu" target="_blank">https://ruempler.eu</a>

                <a class="ph1 no-underline" title="Soenke on Twitter" href="https://twitter.com/s0enke" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>
              </div>

            </div>
          </div>
        </div>

        <div id="albertom" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Alberto Francesco Motta
              </p>
              <p class="f6 gray mt0">
              Cloud Academy
              </p>
              <p class="f6">
              Alberto has a Masters Degree in Law and was supposed to became a lawyer, until he discovered the world of web development - it was love at first sight. He's passionate about innovation and loves to work with all the shiny new toys he finds on HackerNews.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Alberto on Twitter" href="https://twitter.com/albertofmotta" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Alberto on Medium" href="https://medium.com/@alberto.motta.86" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alberto-motta.jpg" class="ba br2 b--transparent grow" alt="Photo of Alberto" title="Alberto Motta" />
            </div>

          </div>
        </div>

        <div id="cyler" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/cyle-riggs.jpg" alt="Photo of Cyle" title="Cyle Riggs" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Cyle Riggs
              </p>
              <p class="f6 gray mt0">
              Container Solutions
              </p>
              <p class="f6">
              Cyle joined Container Solutions this year as a cloud native developer/consultant after spending four years as a developer at AWS. He is focused on the implementation and use cases of modern and postmodern technologies. Outside of his career he is focused on travel and nature.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Cyle on Twitter" href="https://twitter.com/beardedfoo" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>
              </div>

            </div>
          </div>
        </div>

        <div id="lucab" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Luca Bianchi
              </p>
              <p class="f6 gray mt0">
              Neosperience
              </p>
              <p class="f6">
              Luca Bianchi has been writing code from more than a decade, both on client and server side. Embracing the serverless paradigm since its early days, he serves as Chief Technology Officer and Principal Engineer at Neosperience. Passionate about DevOps, IoT and chatbots, in his spare time he loves writing code and prototyping stuffs.
              He is one of the founders of Serverless Italy Meetup.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Luca on Twitter" href="https://twitter.com/bianchiluca" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Luca on Medium" href="https://medium.com/@aletheia" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/luca-bianchi.jpg" class="ba br2 b--transparent grow" alt="Photo of Luca" title="Luca Bianchi" />
            </div>

          </div>
        </div>

        <div id="marcop" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/marco-parenzan.jpg" alt="Photo of Marco" title="Marco Parenzan" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Marco Parenzan
              </p>
              <p class="f6 gray mt0">
              1nn0va
              </p>
              <p class="f6">
              Marco Parenzan is an independent Cloud and IoT Architect and .NET Developer. He is a Microsoft Azure MVP since 2014 and wrote a book on Azure in 2016. 
              Marco is a community lead at 1nn0va, an official Microsoft community in Pordenone, Italy, and he loves developing retrogames and reading comix.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Marco on Twitter" href="https://twitter.com/marco_parenzan" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>
              </div>

            </div>
          </div>
        </div>

        <div id="simones" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Simone Lusenti
              </p>
              <p class="f6 gray mt0">
              Digital Attitude
              </p>
              <p class="f6">
              Simone is an entrepreneur &amp; CTO passioned about full-stack web development (Node.js, React). AWS lover and maintainer of Dawson, a serverless web framework for Node.js on AWS. Simone is a compulsive traveler, and he's looking forward to moving to Iceland.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Simone on Twitter" href="https://twitter.com/Lanzone31" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Simone on Medium" href="https://medium.com/@Lanzone31" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/simone-lusenti.jpg" class="br2 br--top b--transparent grow" alt="Photo of Simone" title="Simone Lusenti" />
            </div>

          </div>
        </div>

        <div id="alexc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alex-casalboni.jpg" alt="Photo of Alex" title="Alex Casalboni" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alex Casalboni
              </p>
              <p class="f6 gray mt0">
              Cloud Academy
              </p>
              <p class="f6">
              Alex is a Software Engineer, deeply passionate about serverless technologies, music, and traveling.
              He's currently a Senior Software Engineer and Cloud Evangelist at Cloud Academy, a position that gave him the possibility to discover the Cloud world and develop its potential as a web developer and data scientist.
              He is one of the founders of Serverless Italy Meetup.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Alex on Twitter" href="https://twitter.com/alex_casalboni" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496932336/twitter_o9f6np.svg" height="24" alt="Twitter Icon"></a>

                <a class="ph1 no-underline" title="Alex on Medium" href="https://medium.com/@alexcasalboni" target="_blank"><img src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_24/v1496933265/medium_lfjkd4.svg" height="24" alt="Medium Icon"></a>
              </div>

            </div>
          </div>
        </div>

      </div>

  </div>
</div>