.lang-switch-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

.lang-switch-link {
    transition: opacity 300ms;
}

.lang-switch-link img{
    border-radius: 50%;
}

[lang="en"] .lang-it,
[lang="it"] .lang-en {
    opacity: 0.3;
}
